body{
    background: #6495ED;
}
.form-login{
    width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
    padding: 40px;
}
.outter-form-login {
    padding: 20px;
    background: #00FFFF;
    position: relative;
    border-radius: 5px;
}
.inner-login .form-control {
    background: #D3D3D3;
}
h3.title-login {
    font-size: 20px;
    margin-bottom: 20px;
}
.btn-custom-green {
    background: #21A957;
    color: #fff;
}